*{
	margin: 0;
	padding: 0;
}


body{
	height: 100%;
}

header{
	width: auto;
	height: 80px;
	padding:0 30px;
	margin: 0;

	border-bottom: 1px solid #FC7895;
}

#logo{
	width: 250px;
	height: 50px;
	margin: 20px 95px;
	float: left;

	position: absolute;

	background-color: #bbb;
}

.l-grid-01{
	width: 230px;
	height: 40px;
	margin: 20px 15px;
	padding: 0px 15px;
	float: right;
}

.menu{
	width: 70px;
	height: 30px;
	margin: 10px;
	padding: 10px;
	display: inline-block;

	background-color: #fff;

}

#main{
	width: 1200px;
	height: 100%;
	margin:  30px auto;
}

.l-area{
	width: 100%;
	height: 100%;
	margin: 50px auto;

	background-color: #eee;
}

.book-area{
	width: 200px;
	height: 270px;
	margin: 20px;
	background-color: #eee;

	position: relative;
	overflow: hidden;
	float: left;
}

.book-area img{
	width: 200px;
	height: 100%;
	margin: auto;

}

figcaption{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: #FA8072;

	-webkit-transition: .3s;
	transition: .3s;
	opacity: 0;
}

.book-area:hover figcaption{
	opacity: 0.9;
}
