*{
	margin: 0;
	padding: 0;
}


body{
	height: 100%;
}

header{
	width: auto;
	height: 80px;
	padding:0 30px;
	margin: 0;

	border-bottom: 1px solid #FC7895;
}

.l-grid-01{
	width: 70px;
	height: 40px;
	margin: 20px 20px;
	float: right;
}

.menu{
	width: 50px;
	height: 30px;
	padding: 10px;

	background-color: #fff;

}

#main{
	width: 1200px;
	height: 100%;
	margin:  30px auto;
}

.l-area{
	width: 100%;
	height: 100%;
	margin: 50px auto;

	background-color: #eee;
}

.book-area{
	width: 200px;
	height: 270px;
	margin: 20px;
	background-color: #eee;

	float: left;
}

.book-area img{
	width: 200px;
	height: 100%;
	margin: auto;

}

figcaption{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: #FC7895;

	opacity: 0;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.book-area :hover figcaption{
	opacity: 1;
	
}
